---
layout: base
---
<header class="page-header">
  <div class="page-header-inner">
    {{ content }}
  </div>
</header>
{% for post in site.posts %}
{% if post.archive %}
{% continue %}
{% else %}

{% if post.external %}
{% assign url_to_use = post.external %}
{% assign url_text_to_use = post.title | prepend: "🔗 " %}
{% else %}
{% assign url_to_use = post.url %}
{% assign url_text_to_use = post.title %}
{% endif %}
<article class="hentry" itemscope itemprop="blogPost" itemtype="https://schema.org/BlogPosting">
  <div class="entry">
    <header class="entry-header">
      <h2 class="entry-title" itemprop="headline">
        <a href="{{ url_to_use }}" title="{{ post.title }}">
          {% if post.external %}
          <span class="glyphicon glyphicon-link"></span>
          {% endif %}
          {{ post.title }}
        </a>
      </h2>
    </header>
    <div class="entry-summary" itemprop="text">
      {% if post.summary %}
      <p>{{ post.summary }}</p>
      {% else %}
      <p>{{ post.content | strip_html | truncatewords:25 }}</p>
      {% endif %}
    </div>
    <footer class="entry-meta">
      <span class="entry-date">
        <a href="{{ url_to_use }}">
          <time class="published updated" datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: "%B %d, %Y" }}
          </time>
        </a>
      </span>
      {% if post.author %}
      by <span class="entry-author">
        <span class="author vcard">
          <!-- TODO: link to page with posts by author (class="url fn n") -->
          {{ post.author }}
        </span>
      </span>
      {% endif %}
      {% if post.external %}
      on <span class="entry-author">
        <span class="author vcard">
          {{ url_to_use | split: "//" | last | split: "/" | first }}
        </span>
      </span>
      {% endif %}
    </footer>
  </div>
</article>
{% endif %}
{% endfor %}
